

<div id="booked">
    <div class="root">
        <div class="booked-container">
            <div class="my-booked">
                <div class="title">
                    <i class="fa-solid fa-bookmark"></i>
                    <span>Đơn hàng đã đặt</span>
                </div>

                <div class="container orders">
                    <div class="row navi">
                        
                        <div class="col-2 img">
                            <span>Ảnh</span>
                        </div>
                        <div class="name col-2">
                            <span>Tên khách hàng</span>
                        </div>

                        <div class="shoes-name col-3">
                            <span>Sản phẩm</span>
                        </div>

                        <div class="count-shoes col-1">
                            <span>s/l</span>
                        </div>
                       

                        <div class="time-booked col-3">
                            <span>Thời gian đặt</span>
                        </div>

                        <div class="confirm col-1">
                            <span>confirm</span>
                        </div>
                    </div>

                    {{#each orders}}

                    <div class="row order">
                        
                        <div class="col-2 img">
                            <img src="{{this.img}}" alt="">
                        </div>

                        <div class="name col-2">
                            <span>{{this.customerName}}</span>
                        </div>

                        <div class="shoes-name col-3">
                            {{#each this.nameProducts}}
                            <div>{{this}}</div>
                            {{/each}}
                           
                        </div>

                        <div class="count-shoes col-1">
                            <div>{{this.count}}</div>
                           
                        </div>

                        <div class="time-booked col-3">
                            <span>{{this.createdAt}}</span>
                        </div>

                        <div class="confirm col-1">
                           <a href="" class="my-confirm">
                               <i class="fa-solid fa-check"></i>
                           </a>
                        </div>
                    </div>

                    {{/each}}

                    

                    
                </div>

                <div class="add-new-order">
                    <a href="">Thêm đơn đặt hàng mới</a>
                </div>
            </div>
        </div>
    </div>
</div>