<<<<<<< HEAD
<div id="home-admin">
    <div class="root">
        <div class="container-home-admin">
            <div class="top-3-category my-box-chart">
                <div class="chart"  id="myChartCategory" style="width: 300px; height: 300px;">
                    <canvas id="chartCategory">
                    </canvas>
                </div>

                
            </div>

            <div class="a-litle-info my-box">
                <div class="total-categorys info-box">
                    <div class="icon ">
                        <i class="fa-solid fa-bars"></i>
                    </div>
                    <div class="content">
                        <div class="title">
                            <span>Danh mục</span>
                        </div>
                        <div class="value">
                            <span>7</span>
                        </div>
                    </div>
                </div>

                <div class="total-products info-box">
                    <div class="icon">
                        <i class="fa-brands fa-product-hunt"></i>
                    </div>
                    <div class="content">
                        <div class="title">
                            <span>Sản phẩm</span>
                        </div>
                        <div class="value">
                            <span>1,086</span>
                        </div>
                    </div>
                </div>

                <div class="total-sales info-box">
                    <div class="icon">
                        <i class="fa-solid fa-cart-shopping"></i>
                    </div>
                    <div class="content">
                        <div class="title">
                            <span>Đã bán</span>
                        </div>
                        <div class="value">
                            <span>50,000</span>
                        </div>
                    </div>
                </div>

                <div class="total-menbers info-box">
                    <div class="icon">
                        <i class="fa-solid fa-users"></i>
                    </div>
                    <div class="content">
                        <div class="title">
                            <span>Người dùng</span>
                        </div>
                        <div class="value">
                            <span>320</span>
                        </div>
                    </div>
                </div>
            </div>



            <div class="sales my-box">
                <div class="year box-sales">
                    <div class="icon">
                        <i class="fa-solid fa-clock-rotate-left"></i>
                    </div>
                    <div class="content">
                        <div class="title">
                            <span>1 năm gần đây</span>
                        </div>
                        <div class="value">
                            <span>500.000.000</span>đ
                        </div>
                    </div>
                </div>

                <div class="three-month box-sales">
                    <div class="icon">
                        <i class="fa-solid fa-clock-rotate-left"></i>
                    </div>
                    <div class="content">
                        <div class="title">
                            <span>3 tháng gần đây</span>
                        </div>
                        <div class="value">
                            <span>90.000.000</span>đ
                        </div>
                    </div>
                </div>

                <div class="two-month box-sales">
                    <div class="icon">
                        <i class="fa-solid fa-clock-rotate-left"></i>
                    </div>
                    <div class="content">
                        <div class="title">
                            <span>2 tháng gần đây</span>
                        </div>
                        <div class="value">
                            <span>50.000.000</span>đ
                        </div>
                    </div>

                </div>

                <div class="month box-sales">
                    <div class="icon">
                        <i class="fa-solid fa-clock-rotate-left"></i>
                    </div>
                    <div class="content">
                        <div class="title">
                            <span>1 tháng gần đây</span>
                        </div>
                        <div class="value">
                            <span>20.000.000</span>đ
                        </div>
                    </div>

                </div>
            </div>

            <div class="user my-box">
                <div class="lastest-user">
                    <div class="title">
                        <h4>Thành viên mới</h4>
                        <span>5 New</span>
                    </div>
                    <ul>
                        <li>
                            <div class="avatar">
                                <img src="img/user/user2-160x160.jpg" alt="">
                            </div>
                            <div class="name-user">
                                <span>Ma seo trang</span>
                            </div>
                            <div class="time-join">
                                <span>hôm qua</span>
                            </div>
                        
                        </li>
                        <li>
                            <div class="avatar">
                                <img src="img/user/user2-160x160.jpg" alt="">
                            </div>
                            <div class="name-user">
                                <span>Ma seo trang</span>
                            </div>
                            <div class="time-join">
                                <span>hôm qua</span>
                            </div>
                        
                        </li>
                        <li>
                            <div class="avatar">
                                <img src="img/user/user2-160x160.jpg" alt="">
                            </div>
                            <div class="name-user">
                                <span>Ma seo trang</span>
                            </div>
                            <div class="time-join">
                                <span>hôm qua</span>
                            </div>
                        
                        </li>
                        <li>
                            <div class="avatar">
                                <img src="img/user/user2-160x160.jpg" alt="">
                            </div>
                            <div class="name-user">
                                <span>Ma seo trang</span>
                            </div>
                            <div class="time-join">
                                <span>hôm qua</span>
                            </div>
                        
                        </li>
                        <li>
                            <div class="avatar">
                                <img src="img/user/user2-160x160.jpg" alt="">
                            </div>
                            <div class="name-user">
                                <span>Ma seo trang</span>
                            </div>
                            <div class="time-join">
                                <span>hôm qua</span>
                            </div>
                        
                        </li>
                    </ul>
                </div>
            </div>

            <div class="products">
                <div class="my-products">
                    <div class="title">
                        <i class="fa-brands fa-product-hunt"></i>
                        <h3>Danh Sách sản phẩm bán chạy nhất</h3>
                    </div>
                    <ul class="container">
                        <li class="row navi">
                            <div class="col-3 img">
                                <span>Ảnh</span>
                            </div>
                            <div class="col-3 name-product">
                                <span>Tên</span>
                            </div>
                            <div class="col-3 sold">
                                <span>Đã bán</span>
                            </div>
                            <div class="col-3 create-at">
                                Đã thêm
                            </div>
                        </li>
                        {{#each products}}
                        <li class="row product">
                            <div class="col-3 img">
                                <img src="{{this.img}}" alt="">
                            </div>
                            <div class="col-3 name-product">
                                {{this.name}}
                            </div>
                            <div class="col-3 sold">
                                <span>{{this.booked}}</span>
                            </div>
                            <div class="col-3 create-at">
                                <span>{{this.createdAt}}</span>
                            </div>
                        </li>
                        {{/each}}
                    </ul>

                    <div class="admin-action">
                        <a class="add-new-product" href="">
                            <span>Thêm sản phẩm mới</span>
                        </a>
                        <a class="view-all-products" href="">
                            <span>Xem tất cả</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


=======
<div id="home-admin">
    <div class="root">
        <div class="container-home-admin">
            <div class="top-3-category my-box-chart">
                <div class="chart"  id="myChartCategory" style="width: 300px; height: 300px;">
                    <canvas id="chartCategory">
                    </canvas>
                </div>

                
            </div>

            <div class="a-litle-info my-box">
                <div class="total-categorys info-box">
                    <div class="icon ">
                        <i class="fa-solid fa-bars"></i>
                    </div>
                    <div class="content">
                        <div class="title">
                            <span>Danh mục</span>
                        </div>
                        <div class="value">
                            <span>7</span>
                        </div>
                    </div>
                </div>

                <div class="total-products info-box">
                    <div class="icon">
                        <i class="fa-brands fa-product-hunt"></i>
                    </div>
                    <div class="content">
                        <div class="title">
                            <span>Sản phẩm</span>
                        </div>
                        <div class="value">
                            <span>1,086</span>
                        </div>
                    </div>
                </div>

                <div class="total-sales info-box">
                    <div class="icon">
                        <i class="fa-solid fa-cart-shopping"></i>
                    </div>
                    <div class="content">
                        <div class="title">
                            <span>Đã bán</span>
                        </div>
                        <div class="value">
                            <span>50,000</span>
                        </div>
                    </div>
                </div>

                <div class="total-menbers info-box">
                    <div class="icon">
                        <i class="fa-solid fa-users"></i>
                    </div>
                    <div class="content">
                        <div class="title">
                            <span>Người dùng</span>
                        </div>
                        <div class="value">
                            <span>320</span>
                        </div>
                    </div>
                </div>
            </div>



            <div class="sales my-box">
                <div class="year box-sales">
                    <div class="icon">
                        <i class="fa-solid fa-clock-rotate-left"></i>
                    </div>
                    <div class="content">
                        <div class="title">
                            <span>1 năm gần đây</span>
                        </div>
                        <div class="value">
                            <span>500.000.000</span>đ
                        </div>
                    </div>
                </div>

                <div class="three-month box-sales">
                    <div class="icon">
                        <i class="fa-solid fa-clock-rotate-left"></i>
                    </div>
                    <div class="content">
                        <div class="title">
                            <span>3 tháng gần đây</span>
                        </div>
                        <div class="value">
                            <span>90.000.000</span>đ
                        </div>
                    </div>
                </div>

                <div class="two-month box-sales">
                    <div class="icon">
                        <i class="fa-solid fa-clock-rotate-left"></i>
                    </div>
                    <div class="content">
                        <div class="title">
                            <span>2 tháng gần đây</span>
                        </div>
                        <div class="value">
                            <span>50.000.000</span>đ
                        </div>
                    </div>

                </div>

                <div class="month box-sales">
                    <div class="icon">
                        <i class="fa-solid fa-clock-rotate-left"></i>
                    </div>
                    <div class="content">
                        <div class="title">
                            <span>1 tháng gần đây</span>
                        </div>
                        <div class="value">
                            <span>20.000.000</span>đ
                        </div>
                    </div>

                </div>
            </div>

            <div class="user my-box">
                <div class="lastest-user">
                    <div class="title">
                        <h4>Thành viên mới</h4>
                        <span>5 New</span>
                    </div>
                    <ul>
                        <li>
                            <div class="avatar">
                                <img src="img/user/user2-160x160.jpg" alt="">
                            </div>
                            <div class="name-user">
                                <span>Ma seo trang</span>
                            </div>
                            <div class="time-join">
                                <span>hôm qua</span>
                            </div>
                        
                        </li>
                        <li>
                            <div class="avatar">
                                <img src="img/user/user2-160x160.jpg" alt="">
                            </div>
                            <div class="name-user">
                                <span>Ma seo trang</span>
                            </div>
                            <div class="time-join">
                                <span>hôm qua</span>
                            </div>
                        
                        </li>
                        <li>
                            <div class="avatar">
                                <img src="img/user/user2-160x160.jpg" alt="">
                            </div>
                            <div class="name-user">
                                <span>Ma seo trang</span>
                            </div>
                            <div class="time-join">
                                <span>hôm qua</span>
                            </div>
                        
                        </li>
                        <li>
                            <div class="avatar">
                                <img src="img/user/user2-160x160.jpg" alt="">
                            </div>
                            <div class="name-user">
                                <span>Ma seo trang</span>
                            </div>
                            <div class="time-join">
                                <span>hôm qua</span>
                            </div>
                        
                        </li>
                        <li>
                            <div class="avatar">
                                <img src="img/user/user2-160x160.jpg" alt="">
                            </div>
                            <div class="name-user">
                                <span>Ma seo trang</span>
                            </div>
                            <div class="time-join">
                                <span>hôm qua</span>
                            </div>
                        
                        </li>
                    </ul>
                </div>
            </div>

            <div class="products">
                <div class="my-products">
                    <div class="title">
                        <i class="fa-brands fa-product-hunt"></i>
                        <h3>Danh Sách sản phẩm bán chạy nhất</h3>
                    </div>
                    <ul class="container">
                        <li class="row navi">
                            <div class="col-3 img">
                                <span>Ảnh</span>
                            </div>
                            <div class="col-3 name-product">
                                <span>Tên</span>
                            </div>
                            <div class="col-3 sold">
                                <span>Đã bán</span>
                            </div>
                            <div class="col-3 create-at">
                                Đã thêm
                            </div>
                        </li>
                        {{#each products}}
                        <li class="row product">
                            <div class="col-3 img">
                                <img src="{{this.img}}" alt="">
                            </div>
                            <div class="col-3 name-product">
                                {{this.name}}
                            </div>
                            <div class="col-3 sold">
                                <span>{{this.booked}}</span>
                            </div>
                            <div class="col-3 create-at">
                                <span>{{this.createdAt}}</span>
                            </div>
                        </li>
                        {{/each}}
                    </ul>

                    <div class="admin-action">
                        <a class="add-new-product" href="">
                            <span>Thêm sản phẩm mới</span>
                        </a>
                        <a class="view-all-products" href="">
                            <span>Xem tất cả</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


>>>>>>> bbf8e4cb3a63354c4dadc95e587bbd7331ea4b20
      