

         <div id="body-dtp">
            <div class="content">
                <div class="product-detail"> <!--chi tiết sản phẩm-->
                    <div class="slide"> <!--hình ảnh slide-->
                        <img src="{{product.img}}" alt="">
                    </div>
    
                    <form action="/cart" method="post">

                      <input style="display: none;" type="text" name="idProduct" value="{{product._id}}">
                      <input style="display: none;" type="text" name="slugProduct" value="{{product.slug}}">

                      <div class="detail"> <!--thông tin sản phẩm-->
                          <div class="item1">
                              <div class="name-price">
                                  <div class="name">
                                      <span>{{product.name}}</span>
                                  </div>
                                  <div class="price">
                                    <div class="old-price">
                                      {{product.priceOld}}₫
                                    </div>
                                    <div class="price-current">
                                      <span>{{product.price}}₫</span>
                                    </div>
                                  </div>
                                  
                              </div>
                              <div class="logo">
                                  <a href="">
                                      <img src="./img/Barands (nhãn hiệu)/logo nike.jpg" alt="" style="width: 90px; height: 90px;">
                                  </a>
                              </div>
                          </div>

                          <div class="short-description">
                            <div class="status trangThai">
                              <div class="title">
                                Trạng thái :
                              </div>
                              <div class="values">
                                Còn hàng
                              </div>
                            </div>
    
                            <div class="status tinhTrang">
                              <div class="title">
                                Tình trạng :
                              </div>
                              <div class="values">
                                Hàng mới 100%
                              </div>
                            </div>

                            <div class="status baoHanh">
                              <div class="title">
                                Bảo hành :
                              </div>
                              <div class="values">
                                6 tháng
                              </div>
                            </div>

                          </div>

                          <div class="size-shoes">
                            <div class="title">
                              <span>Size :</span>
                            </div>
                            <div class="sizeNumber">
                              
                              {{!-- <div class="size 36"><a href="">{{this}}</a></div> --}}
                              <select name="size" id="size" style="margin-left: 15px; min-width: 60px; line-height: 1.5; border-radius: 5px;">
                                {{#each product.size}}
                                <option value="{{this}}">{{this}}</option>
                                {{/each}}
                              </select>
                              
                            </div>
                          </div>

                          <div class="promotion">
                            <div class="icon">
                              <img src="./img/icons8-sun-30.png" alt="">
                            </div>
                            <div class="content-promotion">
                              [Từ 01/02- 10/02] mua sắm tại Shoes Shop có ngay cơ hội nhận lì xì trị giá 2.022đ, 22.000đ, 222.000đ, 2.022.000đ, 22.000.000đ
                            </div>
                          </div>

                          <div class="amount">
                            <div class="amount-pay">
                              <div class="title">
                                Số lượng mua :
                              </div>
                              <div class="amount-input">
                                <button class="tam subtract">-</button>
                                <input value="1" type=" number" class="tam number" name="amount">
                                <button class="tam add">+</button>
                              </div>
                            </div>
                            <div class="sale">
                              <img src="./img/san-sale-920x230-12.png" alt="">
                            </div>
                          </div>

                          <div class="product-action">
                            <div class="buy-now">
                              
                                <button>
                                <a href="/check-order/{{this.slug}}">Mua ngay</a>
                              </button>
                    
                            </div>
                            <div class="add-cart">
                              <button type="submit">
                                Thêm vào giỏ hàng
                              </button>
                            </div>
                          </div>
      
                      </div>
                    </form>
                </div>
    
                <div class="post">
                    <div class="content-post"> <!--bài viết-->
                      <span>
                        <h5>Mô Tả Chất Lượng Nike Shadow Spruce Aura Auth Tại 1SNEAKER</h5>
Phiên bản chuẩn REP 1:1 <br>
Chất liệu da phủ có độ bền cao <br>
Fom giáng cứng cáp. đễ phối đồ theo ý thích của mình. <br>
Chất liệu đế cao su chắc chắn, tạo độ vững và cân bằng cho đôi giày, <br>
Đôi giày có lỗ thoáng khí giúp chân bạn thoải mái khi di chuyển 1 ngày mà không bị bí, <br> <br>
<h5>Nike Air Force 1 Shadow Spruce Aura Rep 1:1</h5> 
Đôi giày AF1 Aura với thiết kế nhẹ nhàng cùng phối màu cực độc đáo, giờ đây đã có custom hoa cúc daisy đang làm mưa làm gió trên thị trường, cho bạn tha hồ phối đồ các kiểu, tự tin xuống phố với mọi outfit mà đều trông xinh xẻo nhé! <br>

Có thể nói Air Force 1 Shadow Spruce Aura là đôi giày làm mưa làm gió trên ứng dụng giải trí Tiktok của giới trẻ thời gian gần đây. <br>

Đế Giày nike air rep 11 Nike Air Force 1 Shadow Spruce Aura thiết kế cứng cáp, chắc chắn, hợp thời trang tôn dáng cho các bạn nữ. Thích hợp mang đi chơi, dạo phố… <br>
                      </span>
                    </div>
    
                    
                    <div class="post-action">
                      <div class="see-more-detail" onclick="invisibleSeeMore()"> <!--buton xem thêm thông tin-->
                        <button>
                          Xem thêm
                        </button>
                    </div>
                    <div class="collapse-detail"  onclick="invisibleCollapse()"> <!--buton xem thêm thông tin-->
                      <button>
                        Thu gọn
                      </button>
                  </div>
                    </div>

                </div>
    
                {{!-- <div class="related-products"> <!--sản phẩm có liên quan-->
                  <div class="title">
                    TOP SẢN PHẨM MỚI NHẤT
                  </div>
                  <div class="products">
    
                    <a href="" class="product">
                      <div class="img">
                        <img src="./img/Products/Giày Adidas EQT Bask ADV xanh dương  .webp" alt="">
                      </div>
                      <div class="names">
                        Giày Adidas EQT Bask ADV xanh dương
                      </div>
                      <div class="old-price">
                        900.000.000₫
                      </div>
                      <div class="price">
                        699.000.000₫
                      </div>
                    </a>
    
                    <a href="" class="product">
                      <div class="img">
                        <img src="./img/Products/Nike Air Jordan 1 Retro High Turbo Green (xanh lam).jpg" alt="">
                      </div>
                      <div class="names">
                        Nike Air Jordan 1 Retro High Turbo Green (xanh lam)
                      </div>
                      <div class="old-price">
                        900.000.000₫
                      </div>
                      <div class="price">
                        780.000.000₫
                      </div>
                    </a>
    
                    <a href="" class="product">
                      <div class="img">
                        <img src="./img/Products/Giày Adidas EQT Bask ADV xanh dương  .webp" alt="">
                      </div>
                      <div class="names">
                        Giày Adidas EQT Bask ADV xanh dương
                      </div>
                      <div class="old-price">
                        900.000.000₫
                      </div>
                      <div class="price">
                        699.000.000₫
                      </div>
                    </a>
    
                    <a href="" class="product">
                      <div class="img">
                        <img src="./img/Products/Nike Air Jordan 1 Retro High Turbo Green (xanh lam).jpg" alt="">
                      </div>
                      <div class="names">
                        Nike Air Jordan 1 Retro High Turbo Green (xanh lam)
                      </div>
                      <div class="old-price">
                        900.000.000₫
                      </div>
                      <div class="price">
                        780.000.000₫
                      </div>
                    </a>
    
                    <!-- xoa -->
                    <a href="" class="product">
                      <div class="img">
                        <img src="./img/Products/Giày Adidas EQT Bask ADV xanh dương  .webp" alt="">
                      </div>
                      <div class="names">
                        Giày Adidas EQT Bask ADV xanh dương
                      </div>
                      <div class="old-price">
                        900.000.000₫
                      </div>
                      <div class="price">
                        699.000.000₫
                      </div>
                    </a>
    
                    <a href="" class="product">
                      <div class="img">
                        <img src="./img/Products/Nike Air Jordan 1 Retro High Turbo Green (xanh lam).jpg" alt="">
                      </div>
                      <div class="names">
                        Nike Air Jordan 1 Retro High Turbo Green (xanh lam)
                      </div>
                      <div class="old-price">
                        900.000.000₫
                      </div>
                      <div class="price">
                        780.000.000₫
                      </div>
                    </a>
    
                    <a href="" class="product">
                      <div class="img">
                        <img src="./img/Products/Giày Adidas EQT Bask ADV xanh dương  .webp" alt="">
                      </div>
                      <div class="names">
                        Giày Adidas EQT Bask ADV xanh dương
                      </div>
                      <div class="old-price">
                        900.000.000₫
                      </div>
                      <div class="price">
                        699.000.000₫
                      </div>
                    </a>
    
                    <a href="" class="product">
                      <div class="img">
                        <img src="./img/Products/Nike Air Jordan 1 Retro High Turbo Green (xanh lam).jpg" alt="">
                      </div>
                      <div class="names">
                        Nike Air Jordan 1 Retro High Turbo Green (xanh lam)
                      </div>
                      <div class="old-price">
                        900.000.000₫
                      </div>
                      <div class="price">
                        780.000.000₫
                      </div>
                    </a>
                    <!-- het -->
    
                  </div>
                </div> --}}
            </div>

         </div>

        {{!-- <h1>detail</h1> --}}
       

    <script>
      
      var color = document.getElementById("navParents");
      
      console.log(color);
      color.style.backgroundColor = "#260759";

      // post action
      var seeMore = document.getElementsByClassName('see-more-detail')[0];
      var collapse = document.getElementsByClassName('collapse-detail')[0];
      var contentPost = document.getElementsByClassName('content-post')[0];
      function invisibleSeeMore() {
        collapse.style.display = "block";
        contentPost.style.height = "100%";
        seeMore.style.display = "none";

      }
      function invisibleCollapse() {
        collapse.style.display = "none";
        contentPost.style.height = "300px";
        seeMore.style.display = "block";

      }
      

    </script>